/*resource*/
body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0; 
} 

header { 
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(0deg, #a2a8d3 0%, #113f67b3 90%);

} 
h1{
    color: #f1f1f1;

}

nav { 
    background-color: #a2a8d3; 
    padding: 10px; 
    display: flex;
    justify-content: center;
  
} 

nav a { 
    color: #fff; 
    text-decoration: none; 
    padding: 10px; 
} 

.container { 
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    flex-basis: 100%;
    align-content: center;
    flex-wrap: wrap;
} 

article p { 
    text-align: justify; 
    display: flex;
    flex-direction: column;

} 

main { 
    flex: 4; 
} 

article { 
    margin-bottom: 20px; 
    padding: 10px 20px; 
    border: 1px solid rgb(145, 145, 145); 
    margin-right: 10px; 
} 

aside { 
    flex: 1; 
    background-color: #f1f1f1; 
    padding: 10px; 
} 

footer { 
    background-color: #113f67; 
    color: #fff; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    padding: 10 10;
    margin: 20 20 ;
} 

#highlight { 
  color: black;
  flex-grow: 3;
  border:0;
  background-color: ghostwhite;
}
.post-tag{
   display: flex; 
   
}
.post-tag a{
    background-color: #a2a8d3;
    color: whitesmoke;
    padding: 5px;
    margin-right: 5px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    
    
}
.news-bar{
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    background-size: contain
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
    justify-content: space-around;
    color: #a2a8d3;
}
.pagination a{
    color:#113f67;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    height: fit-content;
}
.ad{
    display: flex;
    flex-direction: row;
}